<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
<main>
    <div class="container">
        <header class="pt-2 pb-2 mb-3 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="{% static 'globe.svg' %}" alt="Y.E.L.A." width="48" height="48"/>
              <span style="font-size:xx-large">Y.E.L.A.</span>
            </a>
        </header>
        <div class="p-1 mb-4 bg-light rounded-3" id="title-box">
            <div class="container-fluid py-1">
                <h1 class="display-1 fw-bold">{% block page-title %}{% endblock %}</h1>
                <p class="col-md-10 fs-4">{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 pb-1 text-muted border-top">© Web-application project by Chemrov Kirill, Digital Department MIPT 2023</footer>
    </div>
</main>
</body>
</html>