{% extends "base_page.html" %}

{% block page-title %}
Vocabulary
{% endblock %}

{% block page-lead %}
List of studied words with translation, definition, and examples.
{% endblock %}

{% block content %}
<div>
  <a href="/add_word" class="btn btn-secondary">
      Add a new word
  </a>
</div>
<div class="container px-1 py-3" id="vocabulary">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">#</th>
              <th scope="col" class="py-3">Word</th>
              <th scope="col" class="py-3">In Russian</th>
              <th scope="col" class="py-3">Definition</th>
              <th scope="col" class="py-3">Example</th>
              <th scope="col" class="py-3">Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for cnt, word, ru_translate, definition, example, comment in voc_items %}
            <tr>
                <td class="py-3">{{ cnt }}</td>
                <td class="py-3"><b>{{ word }}</b> </td>
                <td class="py-3">{{ ru_translate }}</td>
                <td class="py-3">{{ definition }}</td>
                <td class="py-3">{{ example }}</td>
                <td class="py-3">{{ comment }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
